<form name="UserInfo" style="width: 50%">
  <h1 ng-if="!item.id">
    请选择用户
  </h1>
  <span ng-if="vm.user.id">
    <p>{{vm.user.id}}</p>
    <input xt-textbox required
           type="text" name="name" style="width: 50%"
           ng-model="vm.user.name"> <br>
    <select xt-combobox required
          id="index_sex" name="sex" style="width: 50%"
          ng-model="vm.user.sex">
      <option value="0">女人</option>
      <option value="1">男人</option>
    </select> <br>

    <button xt-linkbutton
       xt-validation-submit="UserInfo"
       ng-click="submit()"
       iconCls="icon-save">提交</button>

    <p>$dirty: {{UserInfo.$dirty}}</p>
    <p>$invalid: {{UserInfo.$invalid}}</p>
    <p>$valid: {{UserInfo.$valid}}</p>

    <div xt-panel
         title="用户信息2"
         item="vm.user"
         href="modules/user/user2.html">
    </div>
  </span>
  <p>
    #{{vm.user | json}}#
  </p>
</form>






