<form name="UserInfo2">
  <!--<h1 ng-if="!item.id">-->
  <!--请选择用户-->
  <!--</h1>-->
  <span>
    <p>{{item.id}}</p>
    <input xt-textbox required
           type="text" name="name" style="width: 100%"
           ng-model="item.name"> <br>
    <select xt-combobox required
            id="index_sex" name="sex" style="width: 100%"
            ng-model="item.sex">
      <option value="0">女人</option>
      <option value="1">男人</option>
    </select> <br>
    <a xt-linkbutton iconCls="icon-save">提交</a>
  </span>
</form>
