<form name="UserInfo">
  <input xt-textbox required
         type="text" name="id" style="width: 100%"
         ng-model="vm.user.id" > <br>
  <input xt-textbox required
         type="text" name="name" style="width: 100%"
         ng-model="vm.user.name"> <br>
  <select xt-combobox required
          id="index_sex" name="sex" style="width: 100%"
          ng-model="vm.user.sex">
    <option value="0">女人</option>
    <option value="1">男人</option>
  </select>
  <a xt-linkbutton iconCls="icon-save">提交</a>
</form>

{{vm.user | json}}
