<form name="UserInfo">
  <h1 ng-if="!item.id">
    请选择用户
  </h1>
  <span ng-if="item.id">
    {{item.id}} <br>
    <input xt-textbox required
           type="text" name="name" style="width: 150px"
           ng-model="item.name"> <br>
    <select xt-combobox required
          id="index_sex" name="sex" style="width: 150px"
          ng-model="item.sex">
      <option value="0">女人</option>
      <option value="1">男人</option>
    </select> <br>
    <a xt-linkbutton iconCls="icon-save">提交</a>
    <p>
      #{{item | json}}#
    </p>
  </span>
</form>




