<!doctype html>
<html lang="zh_CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EasyUI Plus</title>
</head>
<body class="centit-ui" ng-controller="IndexController as vm">

<div xt-layout>
  <div id="header" data-options="region:'north'">
    <div class="title">{{vm.title}}</div>
  </div>
  <div id="side" data-options="region:'west'">

    <form name="UserInfo">
      <input type="text" name="id" xt-textbox ng-model="vm.user.id" style="width: 90%"> <br>

      <input type="text" name="name" xt-textbox ng-model="vm.user.name" style="width: 90%"> <br>

      <select name="sex" xt-combobox ng-model="vm.user.sex" style="width: 90%">
        <option value="0">女</option>
        <option value="1">男</option>
      </select>
    </form>

    Id: {{vm.user.id}} <br>
    Name: {{vm.user.name }} <br>
    Sex: {{vm.user.sex}} <br>

  </div>
  <div id="center" data-options="region:'center'">



    <table id="users" xt-datagrid items="vm.items" border="false">
      <thead>
        <tr>
          <th width="100" field="id">编号</th>
          <th width="100" field="name">姓名</th>
          <th width="100" field="sex">性别</th>
          <th field="operations">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.sex}}</td>
          <td>
            <a xt-linkbutton @click="vm.remove(item)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="footer" data-options="region:'south'"></div>
</div>

<script data-main="app" src="lib/requirejs/require.js"></script>
</body>
</html>
